body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}

.brown{
    background-color: brown !important;
}

.object-fit {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .box-card {
    cursor: pointer;
  }
  
  .box-card:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 8px red;
  }